<div class="contact">
    <ul>
        <li>
            <div class="contact">
                Contact:
            </div>
        </li>
        <li>
            <div class="contact">
                <a href="mailto:natasha.vitek@stonybrook.edu" class="fa fa-envelope"> Email</a>
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="https://twitter.com/nsvitek" class="fa fa-twitter-square"> Twitter</a>
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="https://orcid.org/0000-0003-0587-8907" class="ai ai-orcid-square"> Orcid</a>
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="https://www.researchgate.net/profile/Natasha_Vitek" class="ai ai-researchgate-square"> ResearchGate</a>
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="https://github.com/nsvitek/" class="fa fa-github-square"> Github</a>
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="https://figshare.com/authors/Natasha_Vitek/3998603" class="ai ai-figshare-square"> Figshare</a>
            </div>

        </li>
    </ul>
</div>
