<div class="row navbuffer">    
    <div>
        <picture-items [itemArray]="pictureItems"></picture-items>
    </div>

    
    <div class="row" style="margin-bottom:60px">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">

            <h3 class="undergrad-table-title">Lab Alumni</h3>
            <table class="undergrad-table">
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Kimberly Placencia 
                        </div>                       
                    </td>                    
                    <td class="undergrad-project">
                        Kimberly worked describing and identifying previously unknown cranial material of soft-shelled turtles (Trionychidae) from the Miocene of Nebraska. She is currently a medical student.
                    </td>

                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Sabrina Han
                        </div>                        
                    </td>                    
                    <td class="undergrad-project">
                        Sabrina studied variation in the molars of the multituberculate <i>Ectypodus tardus</i> and its relationship to diet and species boundaries. She is currently a medical student.
                    </td>
                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Kierstin Rosenbach
                        </div>
                    </td>
                    <td class="undergrad-project">
                        Kierstin compared the morphological disparity of eulipotyphlans during different parts of the Paleocene-Eocene Thermal Maximum. She was a recipient of the 2015 Biology Graduate Student Association Grant-in-Aid of Research, and presented her work at the 2015 Society of Vertebrate Paleontology meeting. She is currently a graduate student.
                    </td>
                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Natalí Valdes
                        </div>
                    </td>
                    <td class="undergrad-project">
                        Natalí described a new species of soft-shelled turtle (Trionychidae) from the Miocene of Florida. Her resulting senior research thesis received Highest Honors from the Department of Anthropology. The peer-reviewed report of her results was published in 2017. She is currently a freelance web developer.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>