.title-text {
    margin-bottom: 10px;    
    font-weight: bold;
}

.navbuffer{
    padding-top:20px;
}


.undergrad{
    border: 1px solid black;    
    width: 25%;
    height: 50px;
    text-align: center;
}
.undergrad .name {
    font-weight: bold;
}

.undergrad-project{
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.undergrad-table{
    margin-bottom: 15px;
}

.undergrad-table-title {    
    text-align: center;    
    font-size: 24px;
    font-weight: bold;    
}
