<div class="row">
    


    <div class="col-lg-4 col-lg-push-1">
        <div class="row owner-name">
            <div class="row splash-title">
                <div class="col-md-12 hidden-xs splash-title-top">The Vitek Lab</div>
            </div>
        </div>
        <div class="introduction-picture-container"></div>
    </div>



    <div class="col-lg-6 col-lg-push-1 adjustable-row">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 intro-text">
                <p>
                    Welcome! We are a lab bridging vertebrate morphology, paleontology, and evolution with the aim of 
                    understanding how species survive on a constantly changing planet. We are members of the 
                    <a href="https://www.stonybrook.edu/ecoevo/">Department of Ecology & Evolution</a> at Stony Brook University. 
                    Until a receded pandemic allows us to gather in-person, please imagine the lab with the same spirit and 
                    sense of adventure as <a href="http://hdl.handle.net/10079/digcoll/4339968"> O. C. Marsh's 1872 
                    paleontological field crew</a>, just with fewer hats.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center researchheader">
                <h2 class="title-text">Research</h2>
            </div>
        </div>

        <!--Research topics-->
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">                
                <div *ngFor="let item of researchItems" class="col-md-4 col-sm-6 col-xs-12 col-lg-2">
                    <div class="research-picure">
                        <a [routerLink]="['/research']" 
                        fragment="{{item.itemId}}" 
                        class="small-picture"
                        [style.background-image]="'url(/assets/' + item.itemBackgroundImage + ')'"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center researchheader outreach-header">
                <h2 class="title-text">Outreach</h2>
            </div>
        </div>
        <!--Outreach topics-->
        <div class="row outreach-body">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
                <div *ngFor="let item of outreachItems" class="col-md-4 col-sm-6 col-xs-12 col-lg-2">
                    <div class="research-picure">
                        <a [routerLink]="['/outreach']" 
                        fragment="{{item.itemId}}" 
                        class="small-picture"
                        [style.background-image]="'url(/assets/' + item.itemBackgroundImage + ')'"></a>
                    </div>
                </div>               
            </div>            
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center researchheader outreach-header">
                <h2 class="title-text">People</h2>
            </div>
        </div>
        <!--Outreach topics-->
        <div class="row outreach-body">
            <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
                <div *ngFor="let item of peopleItems" class="col-md-4 col-sm-6 col-xs-12 col-lg-2">
                    <div class="research-picure">
                        <a [routerLink]="['/people']" 
                        fragment="{{item.itemId}}" 
                        class="small-picture"
                        [style.background-image]="'url(/assets/' + item.itemBackgroundImage + ')'"></a>
                    </div>
                </div>               
            </div>            
        </div>
    </div>
</div>