.title-text{
    margin-bottom: 10px;    
    font-weight: bold;
}

.summary-text {
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
    margin-bottom: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

.research-large-picture{
    min-height: 250px;
    min-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.research-small-picture{
    min-height: 150px;
    min-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.research-large-picture>.research1, .research-large-picture>.research2,
.research-large-picture>.research3, .research-large-picture>.research4,
.research-large-picture>.research5 {
    min-height: 350px;
}

.research-text{
    vertical-align:middle;
    font-family: 'Open Sans', sans-serif;
 }

.research-title {    
    font-size: 24px;
    font-weight: bold;
}

/* Fix for pictures on smaller screens */

@media (max-width: 1200px) {
    .research1 {
       background-position: center;
    }

    .research2 {
       background-position: center;
    }
    .research3 {
       background-position: center;
    }
    .research4 {
       background-position: center;
    }
    .research5 {
       background-position: center;
    }
}