<div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
            <div>
                <h2 class="title-text">Research</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-push-1 summary-text">
            <p>
                How does the variation we can see within species today scale up to the differences between
                species that accumulate over time? That question forms the core of my active research interests. I
                approach the question from two perspectives. First, I document and interpret the only evidence of what
                happens to phenotypes on 1000+ year time scales: the fossil and zooarcheological record. Second, I document
                standing variation in analogous phenotypes within species of extant vertebrates and test its relationship to
                modern climatic, phylogeographic, and ecological variables.
            </p>
        </div>
    </div>

    <div>
        <picture-items [itemArray]="pictureItems"></picture-items>
    </div>

</div>


