<div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
            <div>
                <h2 class="title-text">Research</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-push-1 summary-text">
            <p>
                How does the variation we can see within species today scale up to the differences between
                species that accumulate over time? That question forms the core of my active research interests. I
                approach the question from two perspectives. First, I document and interpret the only evidence of what
                happens to phenotypes on 1000+ year time scales: the fossil and zooarcheological record. Second, I document
                standing variation in analogous phenotypes within species of extant vertebrates and test its relationship to
                modern climatic, phylogeographic, and ecological variables.
            </p>
        </div>
    </div>

    <div>
        <picture-items [itemArray]="pictureItems"></picture-items>
    </div>

    <div class="row" style="margin-bottom:60px">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">

            <h3 class="undergrad-table-title">Undergraduate Mentored Projects</h3>
            <table class="undergrad-table">
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Kimberly Placencia 2016-Present
                        </div>
                        <div class="years-active">
                            Active - 1 year
                        </div>
                    </td>                    
                    <td class="undergrad-project">
                        University of Florida. Kimberly is describing and identifying previously unknown
                        cranial material of soft-shelled turtles (Trionychidae) from the Miocene of Nebraska.
                    </td>

                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Sabrina Han 2016-Present
                        </div>
                        <div class="years-active">
                            Active - 1 year
                        </div>
                    </td>                    
                    <td class="undergrad-project">
                        University of Florida. Sabrina is studying variation in
                        the molars of the multituberculate <i>Ectypodus tardus</i> and its relationship to diet and species boundaries.
                    </td>
                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Kierstin Rosenbach 2014-2015
                        </div>
                        <div class="years-active">
                            Active - 1 year
                        </div>
                    </td>
                    <td class="undergrad-project">
                        University of Florida. Kierstin compared the morphological disparity of
                        eulipotyphlans during different parts of the Paleocene-Eocene Thermal Maximum. She was a recipient of the 2015
                        Biology Graduate Student Association Grant-in-Aid of Research, and presented her work at the
                        2015 Society of Vertebrate Paleontology meeting. She is currently a graduate student at the University of Michigan.
                    </td>
                </tr>
                <tr>
                    <td class="undergrad">
                        <div class="name">
                            Natalí Valdes 2013-2014
                        </div>
                        <div class="years-active">
                            Active - 1 year
                        </div>
                    </td>
                    <td class="undergrad-project">
                        University of Florida. Natalí described a new species of soft-shelled turtle (Trionychidae)
                        from the Miocene of Florida. Her resulting senior research thesis received Highest Honors from the Department of Anthropology.
                        The peer-reviewed report of her results is in revision. She is currently a freelance web developer.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


