<div class="row">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
            <div>
                <h2 class="title-text">Resources</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-push-1 summary-text">
            <p>
                I would like my science to be as reproducible as possible. To that end,
                I am posting links to archived data associated with each of my publications.
                In some cases this work is retroactive, and not all data may be online yet. In other
                cases, especially the descriptive papers, there may be no additional necessary data
                beyond what was published, or I may not be the primary data holder. If you are looking
                for any additional information regarding any of my publications, please contact me.
            </p>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <h3>Vitek et al. 2017. Ecology & Evolution</h3>
        <ul>
            <li>
                <a href="https://morphosource.org/Detail/ProjectDetail/Show/project_id/218">3D data: Morphosource</a>                
            </li>
            <li>
                Comparative 3D data: Analyses of these scans were originally published by <a href="https://dx.doi.org/10.1002/ajpa.22934">Paula Gonzalez and colleagues.</a>
                 We were given permission to re-analyze and publish the specimens on <a href="http://morphosource.org/Detail/ProjectDetail/Show/project_id/229">Morphosource.</a>
            </li>
            <li>
                <a href="https://figshare.com/articles/Snapshot_R_Code_for_Vitek_et_al_In_Press_Ecology_and_Evolution/4968170]">Archived Code: <span class="ai ai-figshare"></span> FigShare</a>
            </li>
            <li>
                <a href="https://github.com/nsvitek/observer-free-morphotype-characterization">Active Code: <span class="fa fa-github"></span> Github</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <h3>Vitek et al. 2017. Journal of Systematic Palaeontology</h3>
        <ul>
            <li>
                <a href="https://morphosource.org/Detail/ProjectDetail/Show/project_id/236">3D data: Morphosource</a>
            </li>            
        </ul>
    </div>
</div>