.title-text {
    margin-bottom: 10px;    
    font-weight: bold;
}

.summary-text {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

