<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
        <div>
            <h2 class="title-text">Outreach</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-push-1 summary-text">
        <p>
            My science communication goal is to bring a more open museum to both
            traditional and non-traditional museum audiences using digitization and collections.
            Strategic use of 2- and 3D media allow me to connect people to specimens that they would
            be otherwise unable to access. Major projects toward that goal are summarized here.
        </p>
    </div>
    
    <div>
        <picture-items [itemArray]="pictureItems"></picture-items>
    </div>
    
</div>