<div class="row navbuffer">
    <div class="col-xs-12 col-sm-10 col-sm-push-1 text-center">
        <div>
            <h2 class="title-text">Join My Lab</h2>
        </div>
    </div>
    <div class="col-xs-8 col-xs-push-2">
        <p>
            I am currently seeking intrinsically dedicated and curious students to join the Vitek lab at Stony Brook
            University studying vertebrate paleontology and osteology. There are current openings for PhD students to develop
            their own projects and for undergraduates to work in the lab, either on their own projects or assisting others.
        </p>

        <p>
            Lab focus: exploring how the principles of microevolution leave their signature in the vertebrate skeleton over
            the long time spans of the fossil record.
        </p>

        <p>
            Research in the lab ranges widely across the vertebrate tree of life. Students with backgrounds or interest in
            digital imaging (including microCT), morphometrics, and/or microvertebrate-focused paleontological fieldwork
            strongly encouraged to apply.
        </p>

        <p>
            Example projects include:
        </p>
        <ul>
            <li>
                How do individual species survive climate change, especially species that remain in the same region throughout the change?
            </li>
            <li>
                How far back in time do you have to go before the morphology of extant species stops looking "modern"?
            </li>
            <li>
                Does evolution between sister species follow intraspecific “lines of least resistance”?
            </li>
        </ul>

        <p>
            Read the <a href="https://osf.io/fnw7k/wiki/Expectations/">lab expectations</a> first to give you a better sense of
            what you might be signing up for. After that, if this lab still sounds appealing then please <a href="mailto:natasha.vitek@stonybrook.edu">contact me</a>
            and provide information about why you are interested in joining and what previous experience fuels this interest.
            See <a href="https://contemplativemammoth.com/2013/04/08/so-you-want-to-go-to-grad-school-nail-the-inquiry-email/">
                this
                excellent blog post
            </a> about writing to potential mentors. It is aimed at graduate students, but the advice is good for anyone.
        </p>


        <p>
            Prospective undergraduate lab members, I also recommend that you read Ted Garland's
            <a href="https://biology.ucr.edu/people/faculty/Garland/Undergraduate_Research_Caveats.html">advice</a> on what it is like
            to do undergraduate research.
        </p>

        <p>
            Prospective graduate student lab members, if you're thinking about going to graduate school, maybe becoming a professor,
            and you haven't yet looked deeply into what all that dream entails, I strongly encourage you to read Brian O'Meara's
            <a href="http://www.brianomeara.info/lab/shouldyougotogradschool/">perspective</a>. Then, you should also
            <a href="https://medium.com/bits-and-behavior/most-ph-d-s-arent-professors-13a741ef6868">look at a broader list of options</a>.
            I do not post these links to discourage you from becoming a professor. Rather, I want you to know enough to choose
            a career goal that fits you, then embrace that goal fully. I welcome students on all career paths into my lab as long as
            you can make a good case for how my lab fits in your path.
        </p>

        <p>
            Thanks to <a href="https://paleantology.com/home/about/">April Wright's</a>,
            <a href="http://www.brianomeara.info/lab/guidelines/"> Brian O'Meara's</a>,
            <a href="https://github.com/alylab/labmanual/blob/master/aly-lab-manual.pdf"> Mariam Aly's</a>, and
            <a href="https://www.colorado.edu/smithlab/all-about-expectations"> Stacey Smith's</a>, lab pages for guidance
            and examples of how to set expectations and talk about joining labs.
        </p>
    </div>
</div>